.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  background-color: $background;
  transition: .3s;
  color: white;
  font-family: $button-font;
  font-size: 1.3rem;


    &:hover {
      opacity: 1;
      text-decoration: none;
      color: white;
    }
}
